body { margin: 0; }
	body header { width: 100%; height: 150px; position: absolute; top: 0; background-color: #009933; }
	body section {}
		body section #contenido { margin-top: 170px; margin-bottom: 170px; }
	body footer { width: 100%; height: 150px; position: absolute; bottom: 0; background-color: #009933; }