body {
    margin: 50px 50px 50px 50px;
    background-color: darkgrey;
    font-family: Montserrat,Sans-serif;
}
h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 1em;
}
h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 1em;
}
caption {
	font-size: 1.1em;
	font-weight: normal;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: grey;
}
a:visited {
	color: black;
	text-decoration: none;
}
ul {
	font-size: 1em;
	list-style: none;
	width: 200px;
}
li {
	list-style: circle;
	margin-left: 2em;
}
div {
	margin-top: 1em;
	padding: 5px;
	background-color: white;
}
p {
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}



#menu {
	position: relative;
}

.es {
	color: rgb(26, 27, 28);
}
.en {
	color: rgb(59, 63, 68);
}